.subCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 8%;
  position: relative;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-top: 0px;
  background: #ffffff;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 40px;
  height: 420px;
  width: 340px;
}

.cBtn {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #4600b6;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  border: none;
  width: 90%;
  font-family: 'Quicksand', sans-serif;
  margin-top: 5px;
  margin-left: 20px;
}
