.btn {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #4600b6;
  border-radius: 25px;
  display: inline-block;
  border: none;
  width: 50%;
  padding: 20px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #4a00aa;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #4600b6;
}

.joinInnerContainer {
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  width: 360px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 15%;
}

.joinInput {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
