.svg {
  height: 45vw;
  margin-left: 10px;
  margin-right: 10px;
}
.featureDescriptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  align-items: center;
  max-width: 100%;
  /* padding-bottom: 50px; */
}

.hc {
  /* display: none; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}

.featureDescription {
  color: white;
  flex: 1;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-right: '20px';
}
.featureHeading {
  font-size: 24px;
  margin: 0 20px 50px 20px;
}
.svg3 {
  height: 16vw;
  margin-left: 10px;
  margin-right: 10px;
  /* color:linear-gradient(180deg,#4600b6, #130149) */
}

@media screen and (min-width: 550px) {
  .svg {
    height: 20vw;
  }
}

@media screen and (max-width: 750px) {
  .featureDescriptions {
    flex-direction: column;
  }
  /* .featureDescription {
    max-width: ;
  } */
}

@media screen and (max-width: 852px) {
  .featureDescriptions {
    flex-direction: column;
  }

  .svg {
    height: 46vw;
  }
  /* .featureDescription {
    max-width: ;
  } */
}

/* @media screen and (max-width: 900px) {
  .hc {
    flex-direction: column;
  }
} */

@media screen and (max-width: 690px) {
  .svg3 {
    height: 40vw;
  }
}
