body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
}
#root {
  height: 100vh;
}

.avPic {
  position: relative;
  object-fit: contain;
  top: 15px;
  height: 80px;
}
* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #4600b6;
}

.joinInnerContainer {
  margin-top: 12%;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  width: 360px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 15%;
}

.joinInput {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading {
  color: black;
  font-size: 2.5em;
}

.passp {
  margin: 0;
  color: red;
}

.button {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #4600b6;
  padding: 10px;
  border-radius: 25px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-bottom: 10px;
  margin-top: 20px;
}
button:focus {
  outline: 0;
}

.button:hover {
  background: #4a00aa;
}
