.ulvuc {
	background-color: #e7e7e7;
	margin-right: 10px;
	margin-left: -10px;
	height: 300px;
	/* overflow-y: auto; */
	overflow-x: auto;
	padding-right: 5px;
}

.vuc {
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	position: relative;
	padding-left: 20px;
	padding-bottom: 10px;
	background-color: #ffffff;
	border-radius: 20px;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	width: 300px;
	height: 500px;
}
